<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>921826544253-gtpcb23bpobqt92c3mrvlholrcuu30qv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.921826544253-gtpcb23bpobqt92c3mrvlholrcuu30qv</string>
	<key>API_KEY</key>
	<string>AIzaSyBODuLPovhjWyrGqzJpHP6wCkYO6zxJjZQ</string>
	<key>GCM_SENDER_ID</key>
	<string>921826544253</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.untitled3</string>
	<key>PROJECT_ID</key>
	<string>untitled3-21937</string>
	<key>STORAGE_BUCKET</key>
	<string>untitled3-21937.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:921826544253:ios:74801ac3ba035cb1883f14</string>
</dict>
</plist>